{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
{% block content %}
<!--  <h2>{{ category.name }}</h2>-->
<hr>
<div class="container" style="background:lightgray; color:black;font-size:20px; margin-left:2%; margin-right:25%">

  <p>{{ category.description }}</p>
  <h3>Active Listings in {{ category.name }}</h3>
  <ul>
    {% for listing in active_listings %}
      <li>
        <a href="{% url 'listing_detail' listing.id %}">
          {{ listing.title }} - Current Bid: {{ listing.current_bid }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
{% endblock %}